import(XML)
importFrom(RCurl, getURL, postForm)

exportPattern("^[[:alpha:]]+")
# export all who start with a letter (i.e. not .) except 'print.' or 'toString.'
#exportPattern("(^[^(print\\.|toString\\.|\\.)][[:alpha:]]+)")
exportMethods(
    "checkRequest",
    "describeSensor",
    "encodeKVP",
    "encodeRequestKVP",
    "encodeRequestSOAP",
    "encodeRequestXML",
    "encodeXML",
    "getCapabilities",
    "getObservationById",
    "getObservation",
    "saveXML",
    "show",
    "sosCapabilitiesDocumentOriginal",
    "sosCaps",
    "sosContents",
    "sosCreateBBOX",
    "sosCreateBBoxMatrix",
    "sosCreateEventTimeList",
    "sosCreateFeatureOfInterest",
    "sosCreateTimeInstant",
    "sosCreateTimePeriod",
    "sosDataFieldConverters",
    "sosEventTimePeriod",
    "sosExceptionCodeMeaning",
    "sosFilter_Capabilities",
    "sosFOIs",
    "sosMethod",
    "sosObservedProperties",
    "sosOffering",
    "sosOfferingIds",
    "sosOfferings",
    "sosOperation",
    "sosOperationsMetadata",
    "sosParsers",
    "sosProcedures",
    "sosRequest",
    "sosResponseFormats",
    "sosResponseMode",
    "sosResult",
    "sosResultModels",
    "sosServiceIdentification",
    "sosServiceProvider",
    "sosSrsName",
    "sosTimeFormat",
    "sosUrl",
    "sosVersion" 
)
exportClasses(
    "DescribeSensor",
     "GetObservation",
     "GetObservationById",
     "GmlDirectPosition",
     "GmlEnvelope",
     "GmlFeature",
     "GmlFeatureCollection",
     "GmlFeatureOrNULL",
     "GmlFeatureProperty",
     "GmlGeometry",
     "GmlLineString",
     "GmlMeasure",
     "GmlPoint",
     "GmlPointProperty",
     "GmlPolygon",
     "GmlTimeGeometricPrimitive",
     "GmlTimeInstant",
     "GmlTimeInstantOrNULL",
     "GmlTimeInstantProperty",
     "GmlTimeInstantPropertyOrNULL",
     "GmlTimeInterval",
     "GmlTimeIntervalOrNULL",
     "GmlTimeObject",
     "GmlTimeObjectOrNULL",
     "GmlTimePeriod",
     "GmlTimePosition",
     "GmlTimePositionOrNULL",
     "GmlTimePrimitive",
     "OgcBBOX",
     "OgcBinarySpatialOp",
     "OgcBinaryTemporalOp",
     "OgcBinaryTemporalOpOrNULL",
     "OgcComparisonOps",
     "OgcComparisonOpsOrNULL",
     "OgcContains",
     "OgcIntersects",
     "OgcOverlaps",
     "OgcSpatialOps",
     "OgcSpatialOpsOrNULL",
     "OmMeasurement",
     "OmObservation",
     "OmObservationOrNULL",
     "OmObservationProperty",
     "OwsCapabilities",
     "OwsCapabilities_1.1.0",
     "OwsCapabilities_2.0.0",
     "OwsContents",
     "OwsContentsOrNULL",
     "OwsException",
     "OwsExceptionReport",
     "OwsGetCapabilities",
     "OwsGetCapabilities_1.1.0",
     "OwsGetCapabilities_2.0.0",
     "OwsOperation",
     "OwsOperationsMetadata",
     "OwsOperationsMetadataOrNULL",
     "OwsRange",
     "OwsServiceIdentification",
     "OwsServiceIdentificationOrNULL",
     "OwsServiceOperation",
     "OwsServiceProvider",
     "OwsServiceProviderOrNULL",
     "SaSamplingPoint",
     "SaSamplingSurface",
     "SensorML",
     "SOS",
     "SosCapabilities_1.1.0",
     "SosContents",
     "SosContentsOrNULL",
     "SosEventTime",
     "SosEventTimeLatest",
     "SosFeatureOfInterest",
     "SosFeatureOfInterestOrNULL",
     "SosFilter_Capabilities",
     "SosFilter_CapabilitiesOrNULL",
     "SosObservationOffering",
     "SosObservationOfferingOrCharacter",
     "SweCompositePhenomenon",
     "SwePhenomenon",
     "SwePhenomenonOrNULL",
     "SwePhenomenonProperty",
     "SwePhenomenonPropertyOrNULL",
     "SweTextBlock",
     "TM_After",
     "TM_Before",
     "TM_During",
     "TM_Equals" 
)